body {
    font-family: 'San Francisco', 'Roboto', 'Arial';
    margin: 0;
    font-size: 3.9vw;
}

div {
    margin: 1px;
}

input[type="radio"],
input[type="checkbox"] {
    /* hide the inputs */
    opacity: 0;
}

:checked+span {
    /* style for the checked/selected state */
    border: 3px solid #444;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

.button {
    background-color: #8CC640;
    border: none;
    color: white;
    padding: 15px 25px;
    margin-top: 10x;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.container {
    position: relative;
    width: 100%;
}

.hideable {
    transition: all ease 2s;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

.topBorder {
    border-top: 2px solid #8CC640;
}

.bottomBorder {
    border-bottom: 2px solid #808080;
}

h1 {
    font-size: 6vw;
    width: 100%;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-size: 9vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}

h3,
h3 a {
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    background: #B74C4C;
    color: #f5f5f5;
}

h4 {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    background: #8CC640;
    color: #f5f5f5;
}

.centerText {
    text-align: center;
}

hr {
    background: #8CC640;
    width: 100%;
    height: 1px;
}

.topModal,
.bottomModal {
    position: fixed;
    font-size: 3vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.topModal:target,
.bottomModal:target {
    opacity: 1;
    pointer-events: auto;
}

.topModal>div {
    width: 65%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.bottomModal>div {
    width: 65%;
    position: relative;
    margin: 75% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

table {
    border: none;
    border-radius: 3px;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

th,
td {
    box-shadow: inset 0 0px rgba(0, 0, 0, 0.25), inset 0 0px rgba(0, 0, 0, 0.25);
    padding: 4px;
}

th {
    -webkit-font-smoothing: antialiased;
    color: #f5f5f5;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #8CC640;
}

td {
    color: grey;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    text-align: center;
}

tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.dateTimeText {
    font-size: 3.4vw;
}

.battImg {
    width: 30px;
    height: 15px;
}

.alarmImg {
    vertical-align: top;
    width: 60px;
    height: 60px;
}

.leafImg {
    width: 25px;
    height: 25px;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.one.column,
.one.columns {
    width: 4.66666666667%;
}

.two.columns {
    width: 13.3333333333%;
}

.three.columns {
    width: 22%;
}

.four.columns {
    width: 32.6666666667%;
}

.five.columns {
    width: 39.3333333333%;
}

.six.columns {
    width: 48%;
}

.seven.columns {
    width: 56.6666666667%;
}

.eight.columns {
    width: 65.3333333333%;
}

.nine.columns {
    width: 74.0%;
}

.ten.columns {
    width: 82.6666666667%;
}

.eleven.columns {
    width: 91.3333333333%;
}

.twelve.columns {
    width: 100%;
    margin-left: 0;
}


/* Offsets */

.offset-by-one.column,
.offset-by-one.columns {
    margin-left: 8.66666666667%;
}

.offset-by-two.column,
.offset-by-two.columns {
    margin-left: 17.3333333333%;
}

.offset-by-three.column,
.offset-by-three.columns {
    margin-left: 26%;
}

.offset-by-four.column,
.offset-by-four.columns {
    margin-left: 34.6666666667%;
}

.offset-by-five.column,
.offset-by-five.columns {
    margin-left: 43.3333333333%;
}

.offset-by-six.column,
.offset-by-six.columns {
    margin-left: 52%;
}

.offset-by-seven.column,
.offset-by-seven.columns {
    margin-left: 60.6666666667%;
}

.offset-by-eight.column,
.offset-by-eight.columns {
    margin-left: 69.3333333333%;
}

.offset-by-nine.column,
.offset-by-nine.columns {
    margin-left: 78.0%;
}

.offset-by-ten.column,
.offset-by-ten.columns {
    margin-left: 86.6666666667%;
}

.offset-by-eleven.column,
.offset-by-eleven.columns {
    margin-left: 95.3333333333%;
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: 100%;
    margin: 2px;
}

.red {
    background-color: #db3a00;
}

.yellow {
    background-color: #dba800;
}